<div class="card mb-3">
  <img class="card-img-top" src="https://tse2.mm.bing.net/th/id/OIP.dqRPvXXk9KKbzUIIMXt0JgHaE7?w=263&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Card image cap">
  <div class="card-body" width="40rem">
    <h5 class="card-title">Grocery App</h5>
    <p class="card-text">Grocery app is one of the best recognized app and user friendly application for the shoppers.This app help you to find hygienic and tasty ready to eat food</p>
    <p class="card-text">In this application you can found from the fruits and vegetables to tasty snacks, this is the favourite spot for Non-vegeterians</p>
    <h6 style="color: darkgreen;">Dont waste your time , hurry up login!!</h6>
    <a routerLink="/login">Login here</a>
    <p class="card-text"><small class="text-muted">Have a great day</small></p>
  </div>
</div>
