<div class="center">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card">
          <div class="card-body" width="40rem" style="padding: 32px;">
              <img src="https://www.supermarketnews.com/sites/supermarketnews.com/files/produce-thinkstock-promo.jpg" width="300" height="300" alt="" style="width:100%">
<hr>
          <div class="container">
            <h2 style="text-align:center;">Customer Support</h2>
            <h6 class="title">Customer Help line</h6>
            <P>Customer support</P>
            <p>Software Engineer at Brillio Bren Optimus</p>
            <p>Email : groceryapp@gmail.COM</p>
            <p>toll free Number : 080-8717171/p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
